@mixin button {
  @include dib;
  @include pb0;
  @include ttu;
  @include bg-transparent;
  @include gray;
  @include pointer;
  @include nowrap;
  @include tc;
  @include no-underline;
  @include fw3;
  @include o-90;

  border: 0.05rem solid $gray;
  border-radius: 0.2rem;
  letter-spacing: 0.5ch;
  padding: 0.4rem 0.8rem 0.4rem 1rem;
  transition: background-color ease-in-out 0.3s;

  &:focus,
  &:hover {
    @include bg-primary;
    @include b--primary;
    @include white;
    @include no-outline;

    transition: background-color ease-in-out 0.3s;
  }

  &[disabled] {
    @include o-50;

    cursor: disabled;

    &:focus,
    &:hover {
      @include bg-primary;
      @include b--primary;
    }
  }

  &.button-outline {
    @include bg-transparent;

    color: $color-primary;

    &:focus,
    &:hover {
      @include bg-transparent;
      @include b--secondary;

      color: $color-secondary;
    }

    &[disabled] {
      &:focus,
      &:hover {
        @include b--white;
        @include bg-gray;
      }
    }
  }
}

.button,
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  @include button;
}
